.block {
	display: block;
	width: 100%;
	height: 300px;
	margin: 25px;
	border: 10px solid #CCC;
	border-radius: 50px;
	overflow: hidden;
}

.half-block {
	display: block;
	margin-left: 50%;
	width: 50%;
	height: 300px;
	margin: 25px;
	border: 10px solid #CCC;
	border-radius: 50px;
	overflow: hidden;
}